In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame([['green', 'M', 10.1, 'class2'],
                   ['red', 'L', 13.5, 'class1'],
                   ['blue', 'XL', 15.3, 'class2'],
                   ['red', 'M', 10.9, 'class1']])

df.columns = ['color', 'shirt_size', 'price', 'classlabel']
df

   color shirt_size  price classlabel
0  green          M   10.1     class2
1    red          L   13.5     class1
2   blue         XL   15.3     class2
3    red          M   10.9     class1

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
df

In [13]:
df_norm = df.copy()
df_norm

   color shirt_size  price classlabel
0  green          M   10.1     class2
1    red          L   13.5     class1
2   blue         XL   15.3     class2
3    red          M   10.9     class1

In [14]:
mms = MinMaxScaler()
numeric_columns = ['price']
df_norm[numeric_columns] = mms.fit_transform(df[numeric_columns])
df_norm

   color shirt_size     price classlabel
0  green          M  0.000000     class2
1    red          L  0.653846     class1
2   blue         XL  1.000000     class2
3    red          M  0.153846     class1

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
df_standard = df.copy()
df_standard

   color shirt_size  price classlabel
0  green          M   10.1     class2
1    red          L   13.5     class1
2   blue         XL   15.3     class2
3    red          M   10.9     class1

In [17]:
stdsc = StandardScaler()
numeric_columns = ['price']
df_standard[numeric_columns] = stdsc.fit_transform(df_standard[numeric_columns])
df_standard

   color shirt_size     price classlabel
0  green          M -1.134921     class2
1    red          L  0.507093     class1
2   blue         XL  1.376394     class2
3    red          M -0.748565     class1